body {
    background-color: #9CA777;
}

.cabecalho {
    font-family: 'Englebert', sans-serif;
    background-color: #FEE8B0;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 80px;
    padding: 6px;
}

.titulo-principal {
    font-family: 'Kablammo', cursive;
    display: inline;
}

.menu-lista {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    height: 25px;
    margin-left: 5%;
}

.item-lista {
    display: flex;
    font-size: 25px;
}

.links {
    text-decoration: none;
    color: #333;
}

.icone-login {
    height: 25px;
    margin-right: 5px;

}

.btn-login {
    display: flex;
    padding: 5px;
    width: 95px;
    font-family: 'Englebert', sans-serif;
    font-size: 25px;
    border: solid #333 2px;
    border-radius: 5px;
    background-color: #F97B22;
    align-items: center;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #9CA777;
    color: #FEE8B0;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.titulo-Cadastro {
    font-family: 'Englebert', sans-serif;
    border-bottom: solid;
    text-align: center;
    margin: 80px 150px 40px 150px;

}

section {
    margin-bottom: 50px;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 770px;
    padding: 20px;
    margin-left: 375px;
    border-radius: 30px;
    background-color: #F97B22;
    margin-bottom: 50px;
    margin: 0 auto;
}

input {
    border-radius: 5px;
    border: solid #333 1px
}

.btn-Cadastrar {
    padding: 5px;
    width: 120px;
    margin-left: 173px;
    font-family: 'Englebert', sans-serif;
    font-size: 20px;
    border: solid #333 2px;
    border-radius: 5px;
    background-color: #9CA777;
    align-items: center;
    cursor: pointer;
    align-self: flex-start;
    color: #FEE8B0;
}

.btnCadastrar:hover {
    background-color: #FEE8B0;
    color: #9CA777;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.rodape {
    font-family: 'Englebert', sans-serif;
    background-color: #FEE8B0;
    display: flex;
    justify-content: space-between;

}

.rodape-esquerdo {
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo-rodape {
    width: 80px;
    padding: 6px;
}

.rodape-centro {
    display: flex;
    align-items: center;
}

.rodape-direito {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
}

@media screen and (max-width: 1120px) {
    .cabecalho {
        flex-direction: column;
        gap: 50px;
    }

    .menu-lista {
        flex-direction: column;
        align-items: center;
    }

    .listaservico {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planos {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
    }

    .rodape-esquerdo {
        flex-direction: column;
        align-items: center;
    }
}