/* ------------------------------Estilização do corpo ------------ */

body {
    background-color: #9CA777;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------cabeçalho--------------------------- */
.cabecalho {
    font-family: 'Englebert', sans-serif;
    background-color: #FEE8B0;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 80px;
    padding: 6px;
}

.titulo-principal {
    font-family: 'Kablammo', cursive;
    display: inline;
}

.menu-lista {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    height: 25px;
    margin-left: 5%;
}

.item-lista {
    display: flex;
    font-size: 25px;
}

.links {
    text-decoration: none;
    color: #333;
}

.icone-login {
    height: 25px;
    margin-right: 5px;

}

.btn-login:hover {
    background-color: #9CA777;
    color: #FEE8B0;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.btn-login {
    display: flex;
    padding: 5px;
    width: 95px;
    font-family: 'Englebert', sans-serif;
    font-size: 25px;
    border: solid #333 2px;
    border-radius: 5px;
    background-color: #F97B22;
    align-items: center;
    cursor: pointer;
}

/* ----------------------------Section Serviços------------------------------ */
.animais-servicos{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-self: center;
}
.titulo-servico {
    font-family: 'Englebert', sans-serif;
    border-bottom: solid;
    text-align: center;
    margin: 80px 150px 40px 150px;

}

.lista-servico {
    border: 2px solid #F97b22;
    border-radius: 30px;
    margin: 0px 150px 0px 150px;
    background-color: #F97B22;
    padding: 50px 100px 49px 100px;
    font-size: 18px;
    font-family: 'Englebert', sans-serif;
    color: #FEE8B0;

    

}

h2 {
    text-align: center;
    margin: 80px 150px 40px 150px;
    border-bottom: solid;
    font-family: 'Englebert', sans-serif;

}

/* -----------------------------Section Planos ------------------------- */

.planos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Englebert', sans-serif;
    color: #FEE8B0;

}

.plano1 {
    background-color: #F97B22;
    width: 340px;
    height: 700px;
    border-radius: 30px;
    text-align: center;
    line-height: 200%;
    padding: 0px 10px 0px 25px;
    margin-left: 50px;

}

.plano2 {
    background-color: #F97B22;
    width: 340px;
    height: 700px;
    border-radius: 30px;
    text-align: center;
    line-height: 200%;
    padding: 0px 10px 0px 25px;
    margin: 0px 25px 0px 25px;
}

.plano3 {
    background-color: #F97B22;
    width: 340px;
    height: 700px;
    border-radius: 30px;
    text-align: center;
    line-height: 200%;
    padding: 0px 10px 0px 25px;
    margin-right: 50px;
    margin-bottom: 50px;
}

h3 {
    margin-top: 20px;
}

/* ---------------------------rodapé-------------------------------------- */

.rodape {
    font-family: 'Englebert', sans-serif;
    background-color: #FEE8B0;
    display: flex;
    justify-content: space-between;

}

.rodape-esquerdo {
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo-rodape {
    width: 80px;
    padding: 6px;
}

.rodape-centro {
    display: flex;
    align-items: center;
}

.rodape-direito {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
}

/* ---------------------Media Query ----------------------------- */

@media screen and (max-width: 1120px) {
    .cabecalho {
        flex-direction: column;
        gap: 50px;
    }

    .menu-lista {
        flex-direction: column;
        align-items: center;
    }

    .listaservico {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planos {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
    }

    .rodape-esquerdo {
        flex-direction: column;
        align-items: center;
    }
}