/* ---------------------------Reset CSS---------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------Estilização Corpo------------------------------- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #9CA777;
    font-family: Arial, Helvetica, sans-serif;
}

body main {
    flex: 1;
}

/* ---------------------------Section Formulário--------------------------------- */
.titulo-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    /* font-size: 30pt; */
    font-family: 'Englebert', sans-serif;
}

h2 {
    border-bottom: double;
    margin: 0px 150px;
}

.texto-senha {
    margin-top: 15px;
    font-size: 15pt;
    color: #FEE8B0;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#email-recup-senha {
    width: 500px;
    height: 40px;
    border-radius: 10px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background: #F97B22;
    color: #FFF;
    font-size: 15px;
    font-family: 'Englebert', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ----------------------------Estilização da Foto--------------------------------- */

.conteiner-foto {
    display: flex;
    justify-content: center;
}

.foto-gato {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* ----------------------------Media Query------------------------------------ */
@media screen and (max-width: 1000px) {
    .cabecalho {
        flex-direction: column;
        gap: 50px;
    }

    .menu-lista {
        flex-direction: column;
        align-items: center;
    }

    .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #email-recup-senha {
        width: 350px;
    }

    .foto-gato>img {
        width: 500px;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
    }

    .rodape-esquerdo {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    #email-recup-senha {
        width: 250px;
    }

    .foto-gato>img {
        width: 250px;
    }

}