* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #9CA777;
    font-family: Arial, Helvetica, sans-serif;
}

body main {
    flex: 1;
}

.cabecalho {
    font-family: 'Englebert', sans-serif;
    background-color: #FEE8B0;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 80px;
    padding: 6px;
}

.titulo-principal {
    font-family: 'Kablammo', cursive;
    display: inline;
}

.menu-lista {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    height: 25px;
    margin-left: 5%;
}

.item-lista {
    display: flex;
    font-size: 25px;
}

.links {
    text-decoration: none;
    color: #333;
}

.icone-login {
    height: 25px;
    margin-right: 5px;

}

.btn-login {
    display: flex;
    padding: 5px;
    width: 95px;
    font-family: 'Englebert', sans-serif;
    font-size: 25px;
    border: solid #333 2px;
    border-radius: 5px;
    background-color: #F97B22;
    align-items: center;
    cursor: pointer;
}

.titulo-senha {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 30pt;
}

h2 {
    border-bottom: double;
    margin: 0px 150px;
}

.texto-senha {
    font-size: 20pt;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}




form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#email-recup-senha {
    width: 500px;
    height: 40px;
    border-radius: 10px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background: #F97B22;
    color: #FFF;
    font-size: 15px;
    font-family: Englebert;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foto-gato {
    margin-bottom: 50px;
}


.rodape {
    font-family: 'Englebert', sans-serif;
    background-color: #FEE8B0;
    display: flex;
    justify-content: space-between;

}

.rodape-esquerdo {
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo-rodape {
    width: 80px;
    padding: 6px;
}

.rodape-centro {
    display: flex;
    align-items: center;
}

.rodape-direito {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
}